/* General Settings */

body {
    margin:0 auto;
    background-color: #F8F9FA;
}

section h2 {
    font-family: var(--headerFont);
    font-weight: 700;
    text-transform: uppercase;
    padding:10px;
}

p {
    font-family:var(--mainFont);
    font-size:18px;
    line-height:1.5em;
}

section {
    margin:10vh auto;
    max-width:1080px;
    padding:2vh 2vw;
}

/* End of General Settings */

.divider {
    width:100%;
    background-color: #F8F9FA;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    /* Parallax */
    height:15vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

/* Portfolio Section */

/* .portfolio-wrapper {
    display: flex;  
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-content: space-between;
}

.portfolio-wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.port-1, .port-2, .port-3 {
    flex: 0 1 auto;
} */

.imageContainer {
    position: relative;
    width: 33%;
    margin:0 auto;
    display: inline-block;
    justify-content: space-evenly;
    align-content: space-between;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: var(--gray);
  }
  
  .imageContainer:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--headerFont);
  }

/* End of Portfolio Section Settings */

/* About Section */

.about-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.about-wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.about-wrapper .main {
    flex:1 0px;
    flex-grow: 2;
}

.about-wrapper .aside-1 {
    flex:1 0px;
}

/* End of About Settings */